.wp-rest-api-log-wrap .log-entries .entry-row {
	cursor: pointer;
}

.wp-rest-api-log-wrap .collapsed {
	display: none;
}

.wp-rest-api-log-wrap .visible {
	display: block;
}

.wp-rest-api-log-wrap .visible-inline {
  display: inline;
}

.wp-rest-api-log-wrap .log-entries .entry-details-visible {
	display: table-row;
}

.wp-rest-api-log-wrap .log-entries .entry-details .postbox h3 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.wp-rest-api-log-wrap .log-entries .ajax-wait {
	float: right;
}

.wp-rest-api-log-wrap .search-params {
  overflow: hidden;
}

.wp-rest-api-log-wrap .search-params .search-param {
  display: inline-block;
  /* TODO make this responsive */
}

.wp-rest-api-log-wrap .search-params .search-param-buttons {
  display: inline-block;
}

